<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qvcimagetaggerazfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/03bf7d7c-ef41-41d2-97bc-177e9e37bfe7/resourcegroups/Hackathon-image-tagging/providers/Microsoft.Web/sites/QvcImageTaggerAzFunctionApp</ResourceId>
    <UserName>$QvcImageTaggerAzFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://qvcimagetaggerazfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>